{% extends 'base.html' %}

{% block content %}
<span class="title">
    <h1>{% block title %} {{ asignatura.id }} {{ asignaturas.asignatura }}{% endblock %}</h1>
</span>
<div class="content">
    <div class="asignatura">
        <p><b>#{{ asignatura.id }}</b></p>
        <b>
            <p class="name">
                <a href="{{ url_for('asignatura', asignatura_id=asignatura.id)}}">
                    {{ asignatura.id }} {{ asignaturas.asignatura }}
                </a>
            </p>
        </b>
        <p>{{ asignatura.profesor }}</p>
    </div>
</div>
{% endblock %}