{% extends 'base.html' %}

{% block content %}
<h1 style="width: 100%">
    {% block title %} 
    Edit {{ asignatura.id }}
    Detalle de {{ asignatura.asignatura }} {{ asignatura.profesor }}
    {% endblock %}
</h1>
<form method="post">
    <p>
        <label for="id">Id de la asignatura</label>
        <input type="text" name="id" value={{ asignatura.id }} placeholder="Id de la asignatura">
        </input>
    </p>

    <p>
        <label for="asiganturanomb">Asignatura</label>
        <input type="text" name="asiganturanomb" value={{ asignatura.asignatura }} placeholder="Nombre asignatura">
        </input>
    </p>

    <p>
        <label for="img">Imagen de la asignatura</label>
        <input type="file" name="img" value={{ asignatura.img }} placeholder="">
        </input>
    </p>

    <p>
        <label for="profesor">Profesor</label>
        <input type="text" name="profesor" value={{ asignatura.profesor }} placeholder="Nombre del profesor">
        </input>
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>
{% endblock %}